/* custom.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

body {
  font-family: "Roboto", "Noto Sans", "Noto Sans SC", sans-serif;
}

code {
  padding: 2px 4px;
  border-radius: 4px;
  font-family: "JetBrains Mono", monospace !important;
}

code, pre {
  font-family: "JetBrains Mono", monospace !important;
}