// /*-- scss:defaults --*/
// Inline code color
$code-color: #d14; // Light purple/lavender for inline code
$code-bg: #f8f9fa;

// 
// h1, h2, h3, h4, h5, h6 {
//   text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
// }
/*-- scss:rules --*/
